.app {
  height: 100vh;
  padding: 16px;
}
.footer {
  background-color: rgb(221, 221, 221);
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  padding: 16px;
  display: flex;
  gap: 16px;
  position: absolute;
  width: 100%;
  bottom: 200px;
}
